/* OpenSans Regular */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

/* OpenSans SemiBold */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

/* OpenSans Bold */
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

/* Poppins Bold */
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
