@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
	position: relative;
	margin-top: 5rem;
	padding-top: 5rem;

	@include m.tablet {
		padding-top: 15rem;
	}

	&__wave {
		@include m.waveTop("../images/bg-footer-top-mobile.svg", 5rem);

		@include m.tablet {
			@include m.waveTop("../images/bg-footer-top-desktop.svg", 15rem);
		}
	}

	&__contenido {
		background-color: v.$negro;
		color: v.$blanco;
		padding: 7rem 0;
	}

	&__grid {
		@include m.grid(1, 10rem);

		@include m.tablet {
			@include m.grid(2, 10rem);
			grid-auto-flow: column;
		}

		@include m.desktop {
			gap: 20rem;
		}
	}

	&__widget {
		&:first-child {
			@include m.tablet {
				grid-column: 2/3;
			}
		}
	}

	&__heading {
		font-size: 3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
	}

	&__texto {
		@include m.tablet {
			max-width: 90%;
		}

		@include m.desktop {
			max-width: 60%;
		}
	}

	&__contacto {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&__telefono,
	&__correo {
		margin: 0.5rem 0;
	}
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;

	@include m.desktop {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		max-width: 85%;
	}

	&__input {
		padding: 1.1rem 1rem;
		width: 100%;
		border-radius: 0.5rem;
		border: none;
		outline: none;
		transition: display 0.3s ease;

		&::placeholder {
			opacity: 0;
		}

		@include m.tablet {
			padding: 1.2rem 1rem;

			&:hover + .formulario__span,
			&:focus-visible + .formulario__span {
				display: block;
			}

			&:hover,
			&:focus-visible {
				outline: 2px solid lighten(v.$secundario, 10%);
			}

			&:hover::placeholder {
				opacity: 0.5;
			}
		}
	}

	&__span {
		display: none;

		@include m.tablet {
			position: absolute;
			bottom: 3rem;
			left: 0;
			font-size: 1.2rem;
			color: lighten(v.$secundario, 10%);
		}

		@include m.desktop {
			bottom: -2rem;
		}
	}

	&__submit {
		@include m.boton(v.$primario, v.$blanco);
		margin-top: 1rem;
		border-radius: 0.5rem;
		max-width: 20rem;
		padding: 1.2rem 4rem;

		@include m.tablet {
			padding: 1rem 2rem;
			max-width: 100%;
		}

		@include m.desktop {
			margin-top: 0;
		}
	}
}

.sociales {
	margin-top: 4rem;
	display: flex;
	gap: 2rem;

	&__icono {
		font-size: 3.5rem;

		&:hover {
			cursor: pointer;
			color: lighten(v.$negro, 50%);
		}
	}
}
