@use "base/variables" as v;
@use "base/mixins" as m;

.section {
	position: relative;
	padding: 10rem 0;

	&--together {
		padding: 11rem 0 5rem 0;
		@include m.tablet {
			padding: 16rem 0 13rem 0;
		}
	}

	&__wave1-top {
		@include m.waveTop("../images/bg-section-top-mobile-1.svg", 11rem);
		@include m.tablet {
			@include m.waveTop("../images/bg-section-top-desktop-1.svg", 16rem);
		}
	}
	&__wave1-bottom {
		@include m.waveBottom("../images/bg-section-bottom-mobile-1.svg", 5rem);
		@include m.tablet {
			@include m.waveBottom("../images/bg-section-bottom-desktop-1.svg", 13rem);
		}
	}

	&--users {
		padding: 10rem 0;

		@include m.tablet {
			padding: 15rem 0 13rem 0;
		}
	}

	&__wave2-top {
		@include m.waveTop("../images/bg-section-top-mobile-2.svg", 10rem);
		@include m.tablet {
			@include m.waveTop("../images/bg-section-top-desktop-2.svg", 15rem);
		}
	}
	&__wave2-bottom {
		@include m.waveBottom("../images/bg-section-bottom-mobile-2.svg", 10rem);
		@include m.tablet {
			@include m.waveBottom("../images/bg-section-bottom-desktop-2.svg", 13rem);
		}
	}

	&__contenido {
		background-color: v.$blanco;
		padding: 5rem 0;

		&--bgwhite {
			background-color: unset;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 10rem;

		@include m.tablet {
			@include m.grid(2, 15rem);
			align-items: center;
			grid-auto-flow: column;
		}
	}

	&__imagen {
		@include m.tablet {
			grid-column: 2/3;
			&--left {
				grid-column: unset;
			}
		}
	}

	&__textos {
		text-align: center;

		@include m.tablet {
			text-align: left;
		}
	}

	&__descripcion {
		line-height: 1.6;
	}
}

.community {
	padding: 15rem 0;
	text-align: center;

	&__boton {
		@include m.boton(v.$primario, v.$blanco);
		border-radius: 5rem;
		margin-top: 4rem;
		box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 25%);
	}
}
